.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  user-select: none;
  vertical-align: top;
  font-family: inherit;
  text-align: center;

  font-size: var(--ui-font-size);
  font-weight: var(--ui-font-weight);

  border-radius: var(--gap-3xs);
  gap: var(--gap-xs);

  padding: 0 var(--gap-xs);
  height: var(--control-height);
  border-width: 0;
  cursor: var(--cursor-interactive);
}
.button:disabled {
  cursor: var(--cursor-disabled);
}
.button.solid {
  background-color: var(--accent-9);
  color: var(--accent-contrast);
}
.button.solid:hover {
  background-color: var(--accent-10);
}
.button.solid:active {
  background-color: var(--accent-10);
  filter: var(--active-filter);
}
