#app-root {
  flex-grow: 1;
  display: flex;
  padding: var(--gap-xs);
  gap: var(--gap-xs);
}

.output {
  flex-grow: 1;
  background-color: var(--surface-color);
  border-radius: var(--gap-xs);
  padding: var(--gap-s);

  display: grid;
  place-items: center;
}

.properties {
  border-radius: var(--gap-xs);
  padding: var(--gap-s);
  display: flex;
  flex-direction: column;
  gap: var(--gap-s);
}
