@layer theme, base, components;

@import "./styles/style-theme.css";
@import "./styles/style-base.css";
@import "./styles/style-components.css";

/* 
  Below are one off styles. If this section grows much it should be split off
  into sperate files.
*/

main {
  flex-grow: 1;
  display: flex;
  padding: var(--space-xs);
  gap: var(--space-xs);
}

.output {
  flex-grow: 1;
  background-color: var(--surface-color);
  border-radius: var(--space-xs);
  padding: var(--space-s);

  display: grid;
  place-items: center;
}

[is="side-bar"] {
  border-radius: var(--space-xs);
  padding: var(--space-s);
  display: flex;
  flex-direction: column;
  gap: var(--space-s);
  width: 20rem;
}
