*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-family: var(--font-family);
  line-height: var(--line-height);
  font-weight: var(--font-weight);

  color-scheme: light dark;
  color: var(--text-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  color: var(--gray-12);
  background-color: var(--color-background);

  font-size: var(--fs-0);

  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1,
h2,
h3 {
  font-weight: var(--font-weight-heading);
  text-wrap: balance;
}
h1 {
  font-size: var(--fs-3);
  line-height: var(--line-height-lg-text);
}
h2 {
  font-size: var(--fs-2);
  line-height: var(--line-height-lg-text);
}
h3 {
  font-size: var(--fs-1);
  line-height: var(--line-height-lg-text);
}

p,
li {
  text-wrap: pretty;
}

a {
  color: var(--accent-a11);
  text-decoration: none;
  cursor: var(--cursor-interactive);
}
a:hover {
  /* TODO(jw) decoration */
  text-decoration: underline;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}
